@model Location

<tr>
    <td>@Model.Name</td>
    <td>@Model.Building</td>
    <td>@Model.Room</td>
    <td>@Model.Latitude</td>
    <td>@Model.Longitude</td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    </td>
</tr>